<div class="jumbotron text-center">
    <h1>The About Page</h1>
    <p>This page demonstrates <span class="text-danger">multiple</span> and <span class="text-danger">named</span> views.</p>
    <pre><strong>TODO:</strong>Relative vs Absolute Naming
UI-Router assigns every view to an absolute name. 
The structure for this is viewName@stateName. 
Since our main ui-view inside our about state, we gave it a blank name. 
The other two views because columnOne@about and columnTwo@about</pre>
</div>

<div class="row">

    <!-- COLUMN ONE NAMED VIEW -->
    <div class="col-sm-6">
        <div ui-view="columnOne"></div>
    </div>

    <!-- COLUMN TWO NAMED VIEW -->
    <div class="col-sm-6">
        <div ui-view="columnTwo"></div>
    </div>

</div>  