################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bower_components
/node_modules
/_SpecRunner.html
/.grunt/grunt-contrib-jasmine
/dist/tamaleng
/angular2/bower_components
/angular2/node_modules
/angular2/typings
/angular2/vwd.webinfo
/angular2/npm-debug.log
/angular2/npm-debug.log.d226c66da144edb5d9a8bff3b348ea29
*.map
/typescript/build
/typescript/node_modules

