################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bower_components
/node_modules
/_SpecRunner.html
/.grunt/grunt-contrib-jasmine
/dist/tamaleng
/angular2/bower_components
/angular2/node_modules
/angular2/typings
/angular2/vwd.webinfo
