@import "./init.scss";
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 6vh 88vh 6vh;
    grid-template-areas: "header header" "main sidebar" "footer footer";
}

.header {
    grid-area: header;
    background-color: $headerBgColor;
}

.main {
    grid-area: main;
    background-color: $mainBgColor;
}

.side-bar {
    grid-area: sidebar;
    background-color: $sideBarBgColor;
}

.footer {
    grid-area: footer;
    background-color: $footerBgColor;
}

@media(max-width: 768px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: 6vh 66vh 22vh 6vh;
        grid-template-areas: "header" "main" "sidebar" "footer";
    }
}