* {
    margin: 0;
    padding: 0;
}

$headerBgColor: yellow;
$mainBgColor: grey;
$sideBarBgColor: purple;
$footerBgColor: #00ff21;
$colors: red green blue grey purple lightgreen pink burlywood lightblue aqua;
@each $color in $colors {
    .#{$color} {
        background: $color;
    }
}