* {
  margin: 0;
  padding: 0; }

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: aqua; }

.header {
  background-color: yellow;
  height: 6vh; }

.main-sidebar {
  display: flex;
  flex-direction: row;
  height: 100%; }

.main {
  background-color: grey;
  flex-grow: 3;
  height: 100%; }

.side-bar {
  background-color: purple;
  flex-grow: 1;
  height: 100%; }

.footer {
  background-color: #00ff21;
  height: 6vh; }

@media (max-width: 600px) {
  .main-sidebar {
    flex-direction: column; } }
