.container{
    position: relative;
    width: 500px;
    height: 300px;

    overflow: hidden;
    background: purple;
}

.container .slider-viwer{    
    position: absolute;
    display: flex;
}

.container img{
    width: 500px;
    height: 300px;
}