<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue-demo</title>
</head>

<body>
    <main>
        <h1>{{title}}</h1>
        <h2 v-text="message"></h2>
        <h3 v-html="site"></h3><span>bind html</span>
        <hr>
        <h1 v-bind:style="{color: greenColor}">Binding styles</h1>
        <h2 v-bind:class="[bindClass]">Binding class</h2>
        <hr>
        <div v-for="todo in todoList" v-if="todo.show">
            {{todo.text}}
        </div>
    </main>
</body>

</html>