<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Nested controller demo</title>
    <meta charset="utf-8" />
</head>
<body>
    <div ng-controller="myCtrl">
        <label>Primitive</label>
        <input type="text" ng-model="name">
        <label>Object</label>
        <input type="text" ng-model="user.name">
        <div class="nested" ng-controller="myNestedCtrl">
            <label>Primitive</label>
            <input type="text" ng-model="name">
            <label>Primitive with explicit $parent reference</label>
            <input type="text" ng-model="$parent.name">
            <label>Object</label>
            <input type="text" ng-model="user.name">
        </div>
    </div>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function ($scope) {
            $scope.name = "Peter";
            $scope.user = { name: "Parker" };
        });
        app.controller("myNestedCtrl", function ($scope) {
        });
    </script>
</body>
</html>
