.sb-search {
	position: relative;
	margin-top: 10px;
	width: 0%;
	min-width: 60px;
	height: 60px;
	float: right;
	overflow: hidden;

	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;

	-webkit-backface-visibility: hidden;
}

.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #C6E2EE;
	width: 100%;
	height: 60px;
	margin: 0;    
	z-index: 10;
	/*padding: 20px 65px 20px 20px;*/
	font-family: inherit;
	font-size: 20px;
	color: #aa0f60;
    /*-webkit-appearance: none;*/
	/*-webkit-border-radius: 0px;*/
}

.sb-search-submit  {
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
    z-index: 100;
    color:blue;
    background:#000;
}

.sb-search.sb-search-open{
	width: 100%;
}

