@each $name in godking oceansky {
    .#{$name} {
        background-image: url('/images/#{$name}.jpg');
    }
}

$colors: yellow lime lightblue purple;
@each $color in $colors {
    .#{$color} {
        color: #{$color};
    }
}