.meter{
    position:relative;
    background-color:#555;
    /*width:400px;*/
    height:30px;
    border-radius:25px;
    padding:10px;
    /*box-shadow*/
}

.meter > span{
    position: relative;
    display:block;
    background-color:#19982b;
    height:100%;
    margin-left:20px;
    margin-right: 20px;
    border-radius: 25px;
    /*animation:progress 2s linear infinite;*/
    transition: width 2s linear ;
    overflow:hidden;
    box-shadow: 3px 3px 5px;
}

.meter > span > span{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-image: linear-gradient(
       -45deg, 
    rgba(255, 255, 255, .2) 25%, transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%, transparent 75%

        );
  z-index:1;
  background-size:40px 40px;
  overflow:hidden;
  /*border-bottom-left-radius:25px;
  border-top-left-radius:25px;*/
  border-radius:25px;
}

.meter.animate > span > span {        
  animation: progress 2s linear infinite;
}

@keyframes progress{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 40px 40px;
    }
}

/*customized color*/
.meter.red > span{
    background-color:#ff0000;
    background-image:linear-gradient(to bottom, #f0a3a3, #f42323)
}

/*.gradient{
    height:100px;
    width: 100px;
    background-image: linear-gradient(
        to right,
        red 25%,
    green 50%,
    blue 75%
        )
}*/