.test::before {
  visibility: hidden !important;
  content: "" !important;
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  pointer-events: auto;
}

.test:focus {
  background-color: green;
  border: 2px solid red;
}